<h1>Welcome to the Quizinator!</h1>
<h2>"Come with me if you want to math!"</h2>

<%= link_to "See all the Math Problems created so far.", controller: "problems" %>
<%= link_to "See all the Quizzes created so far.", controller: "exams" %>